<div class="container">
    <h1>To-Do List</h1>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
      <input formControlName="task" placeholder="New Task" />
      <button type="submit">Add</button>
    </form>
  
    <ul>
      <li *ngFor="let todo of todos">
        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="updateTodo(todo)"
        />
        <span [class.completed]="todo.completed">{{ todo.task }}</span>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>